body{
    margin: 0px;
    text-align: center;
    font-family: 'PT Mono', monospace;
}
h1{
    margin-top: 0px;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    color: #66BFBF;
}
h3{
    color: #11999E;
}
.fan{
    color: #11999E;  
}
a{
    color: #11999E;
}
.skills{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 2;
}
.top-container{
    background-color: #CDF2CA;
    font-family: 'Major Mono Display', monospace;
    font-weight: normal;
    
}
.bottom-cloud{
    position: absolute;
    left:30%;
}
.top-cloud{
    position: relative;
    left:17.5%;
}
.codingskills{
    width: 30%;
    float: left;
    margin: 30px;
}
hr{
    border: dotted 6px #66BFBF;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.bottom-container{
    background-color: #CDF2CA;
    margin-top: 50px;
    margin-bottom: 0px;
}
.btn {
    
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999A);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999A);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999A);
    background-image: -o-linear-gradient(top, #11CDD4, #11999A);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999A);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 6px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #2BC4AD 1px;
    background: #2BC4AD;
    background-image: -webkit-linear-gradient(top, #2BC4AD, #10D0D8);
    background-image: -moz-linear-gradient(top, #2BC4AD, #10D0D8);
    background-image: -ms-linear-gradient(top, #2BC4AD, #10D0D8);
    background-image: -o-linear-gradient(top, #2BC4AD, #10D0D8);
    background-image: -webkit-gradient(to bottom, #2BC4AD, #10D0D8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }